@using CVSite.Models
@model List<Experience>

@{
    ViewData["Title"] = "ExperienceInf";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Experience</h1>
<br />
<table class="table table-bordered">

	@foreach (var x in Model)
	{
		<tr>
			<td>Title</td>
			<td>@x.Title</td>
		</tr>
		<tr>
			<td>Sub Title</td>
			<td>@x.SubTitle</td>
		</tr>
		<tr>
			<td>Description</td>
			<td>@x.Description</td>
		</tr>
		<tr>
			<td>Date</td>
			<td>@x.Date</td>
		</tr>
		<tr>
			<td><a href="/Admin/ExperienceGet/@x.ID" class="btn btn-warning">Update</a></td>
			<td><a href="/Admin/ExperienceDelete/@x.ID" class="btn btn-danger">Delete</a></td>
		</tr>
	}
</table>

<a href="/Add/NewExperience" class="btn btn-primary">New Experience</a>