@model CVSite.Models.Skills
@{
    ViewData["Title"] = "SkillsGet";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Skills</h1>

<br />
@using (Html.BeginForm("SkillsUpdate", "Admin", FormMethod.Post))
{
	@Html.LabelFor(x => x.ID)
	@Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
	<br />
	@Html.LabelFor(x => x.Skill)
	@Html.TextBoxFor(x => x.Skill, new { @class = "form-control" })
	<button class="btn btn-success">Update</button>
}

